*, *::after, *::before
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img
{
  display: block;
  max-width: 100%;
  height: auto;
}

input, button, textarea
{
  font: inherit;
}

#upper-header
{
  display: flex;
  justify-content: center;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  background-color: mediumblue;
}

.upper-header-container
{
  display: flex;
  flex-basis: 1000px;
}

.upper-header-element
{
  display: flex;
  color: white;
  font-size: 0.9em;
}

.sezioni
{
  margin-right: 1em;
}

.edizioni-locali
{
  margin-left: 1.5em;
}

#edizioni-locali-down-arrow
{
  margin-right: 1.5em;
}

.down-arrow
{
  width: 1em;
  height: 1em;
}

button
{
  border: none;
  background-color: transparent;
  margin-right: 0.9em;
  margin-left: 0.9em;
}

.upper-header-element-left-side
{
  display: flex;
  flex-basis: 333px;
  justify-content: left;
  min-width: 270px;
}

#hamburger-menu-icon
{
  width: 1.3em;
  height: 1.3em;
  margin-right: 0.4em;
}

.meteo
{
  display: flex;
  flex-basis: 334px;
  justify-content: center;
  min-width: 88px;
}

#meteo-image
{
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
}

.upper-header-element-right-side
{
  display: flex;
  flex-basis: 333px;
  justify-content: right;
}

#default-pfp
{
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.7em;
}

#lower-header
{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 10em;
}

#page-title
{
  font-size: 2.5em;
  font-weight: 900;
}

#title-additional-info
{
  display: flex;
  flex-direction: row;
}

#date-time-update
{
  font-size: 0.6em;
  display: flex;
  flex-basis: 50%;
}

#socials-buttons
{
  display: flex;
  justify-content: center;
  flex-basis: 50%;
  max-height: 20px;
}

#page-container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main
{
  display: flex;
  justify-content: center;
}

#main-container
{
  display: flex;
  flex-basis: 1000px;
  flex-direction: column;
}

#temi-caldi
{
  display: flex;
  flex-basis: 100%;
}

#temi-caldi-caption
{
  display: flex;
  flex-basis: 20%;
}

#temi-caldi-list-container
{
  display: flex;
  flex-basis: 80%;
}

#temi-caldi-list
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
}

#corriere-tv-boxes
{
  display: flex;
  flex-direction: column;
}

#corriere-tv-boxes-container
{
  display: flex;
  flex-direction: row;
}

.corriere-tv-box
{
  display: flex;
  flex-direction: row;
  max-width: 300px;
}

.corriere-tv-box-picture
{
  margin: 10px 10px 10px 10px;
}

.corriere-tv-box-text-container
{
  display: flex;
  flex-direction: column;
}

.corriere-tv-box-title
{
  font-size: 0.7em;
  margin: 0 0 0 0;
}

.corriere-tv-box-attribution
{
  font-size: 0.6em;
}

#update-badge
{
  background-color: red;
  color: white;
}

#main-article-title
{
  font-size: 1.5em;
}

#main-article-figure
{
  margin: 0 0 0 0;
}

#main-article-image
{
  object-fit: fill;
  margin-bottom: -40px;
}

#main-article-additional-info
{
  font-size: 0.8em;
}

#secondary-article-additional-info-list
{
  padding: 0 0 0 1em;
}

#main-article-additional-info
{
  display: flex;
  flex-direction: row;
}

#main-article-additional-info-left
{
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  background-color: white;
}

#main-article-additional-info-right
{
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.main-article-additional-info-right-paragraph
{
  display: flex;
  justify-content: end;
  margin: 0 0 0 0;
}

.articles-container
{
  display: flex;
  flex-direction: row;
}

.left-container
{
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.right-container
{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.coupled-articles-container
{
  display: flex;
  flex-direction: row;
}

.coupled-articles-article-container
{
  display: flex;
  flex-direction: column;
}




.coupled-articles-image-and-comment-container
{
  display: flex;
  flex-direction: row;
}

#corriere-tv-right-first-article
{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

#corriere-tv-right-first-article-top-bar
{
  background-color: darkslateblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#corriere-tv-right-second-article-top-bar
{
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
}

.generic-article-placeholder
{
  width: 100%;
  height: 100%;
}

.generic-article-container
{
  display: flex;
}

.generic-article-info-container
{
  display: flex;
  flex-direction: column;
}

#frammenti-container
{
  display: flex;
  flex-direction: row;
}

#frammenti-writing
{
  display: flex;
  flex-direction: column;
}

#frammenti-hourglass-figure
{
  display: flex;
  flex-basis: 20%;
}

#frammenti-hourglass-img
{
  max-width: 50%;
  max-height: 50%;
}

.three-columns-container
{
  display: flex;
  flex-direction: row;
}

#four-articles-in-a-square
{
  display: flex;
}

.pfp
{
  max-width: 20%;
  max-height: 20%;
}

.editoriali-commenti-comment
{
  display: flex;
  flex-direction: row;
}

.secondary-section-title-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#blog-e-rubriche-cartoon-section
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-columns-column
{
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

.flex-row-container
{
  display: flex;
  flex-direction: row;
}

.flex-column-container
{
  display: flex;
  flex-direction: column;
}

.half-container
{
  display: flex;
  flex-basis: 50%;
}

#i-blog-del-corriere
{
  display: flex;
  flex-direction: column;
}

#i-blog-del-corriere-title
{
  display: flex;
  justify-content: center;
}

footer
{
  display: flex;
  justify-content: center;
  max-width: 930px;
  width: 100%;
}

#footer-container
{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}
