/*
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*/

#upper-header
{
  display: flex;
  justify-content: center;
}

.upper-header-container
{
  display: flex;
  flex-basis: 1000px;
}

.upper-header-element
{
  display: flex;
}

.upper-header-element-left-side
{
  display: flex;
  flex-basis: 333px;
  justify-content: left;
}

.meteo
{
  display: flex;
  flex-basis: 334px;
  justify-content: center;
}

.upper-header-element-right-side
{
  display: flex;
  flex-basis: 333px;
  justify-content: right;
}

#lower-header
{
  display: flex;
  justify-content: center;
}

#page-title
{
  font-size: 2em;
  font-weight: bolder;
}

#title-additional-info
{
  display: flex;
  flex-direction: row;
}

#date-time-update
{
  font-size: 0.5em;
  display: flex;
  flex-basis: 50%;
}

#socials-buttons
{
  display: flex;
  flex-basis: 50%;
  max-height: 20px;
}

main
{
  display: flex;
  justify-content: center;
}

#main-container
{
  display: flex;
  flex-basis: 900px;
  flex-direction: column;
}

#temi-caldi
{
  display: flex;
  flex-basis: 100%;
}

#temi-caldi-caption
{
  display: flex;
  flex-basis: 20%;
}

#temi-caldi-list-container
{
  display: flex;
  flex-basis: 80%;
}

#temi-caldi-list
{
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  justify-content: space-evenly;
}

#corriere-tv-boxes
{
  display: flex;
  flex-direction: column;
}

#corriere-tv-boxes-container
{
  display: flex;
  flex-direction: row;
}

.corriere-tv-box
{
  display: flex;
  flex-direction: row;
  max-width: 300px;
}

.corriere-tv-box-picture
{
  margin: 10px 10px 10px 10px;
}

.corriere-tv-box-text-container
{
  display: flex;
  flex-direction: column;
}

.corriere-tv-box-title
{
  font-size: 0.7em;
  margin: 0 0 0 0;
}

.corriere-tv-box-attribution
{
  font-size: 0.6em;
}

#update-badge
{
  background-color: red;
  color: white;
}

#main-article-title
{
  font-size: 1.5em;
}

#main-article-figure
{
  margin: 0 0 0 0;
}

#main-article-image
{
  object-fit: fill;
}

#main-article-additional-info
{
  font-size: 0.8em;
}

#secondary-article-additional-info-list
{
  padding: 0 0 0 1em;
}

#main-article-additional-info
{
  display: flex;
  flex-direction: row;
  margin-top: -100px;
}

#main-article-additional-info-left
{
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
  background-color: white;
}

#main-article-additional-info-right
{
  display: flex;
  flex-basis: 30%;
  flex-direction: column;
  align-items: end;
  justify-content: end;
}

.main-article-additional-info-right-paragraph
{
  display: flex;
  justify-content: end;
  margin: 0 0 0 0;
}

.articles-container
{
  display: flex;
  flex-direction: row;
}

.articles-container-left
{
  display: flex;
  flex-direction: column;
  flex-basis: 70%;
}

.articles-container-right
{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.coupled-articles-container
{
  display: flex;
  flex-direction: row;
}

.coupled-articles-article-container
{
  display: flex;
  flex-direction: column;
}




.coupled-articles-image-and-comment-container
{
  display: flex;
  flex-direction: row;
}

#corriere-tv-right-first-article
{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

#corriere-tv-right-first-article-top-bar
{
  background-color: darkslateblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#corriere-tv-right-second-article-top-bar
{
  background-color: darkslateblue;
  display: flex;
  justify-content: center;
}

.generic-article-placeholder
{
  width: 100%;
  height: 100%;
}

.generic-article-container
{
  display: flex;
}

.generic-article-info-container
{
  display: flex;
  flex-direction: column;
}

#frammenti-container
{
  display: flex;
  flex-direction: row;
}

#frammenti-writing
{
  display: flex;
  flex-direction: column;
}

#frammenti-hourglass-figure
{
  display: flex;
  flex-basis: 20%;
}

#frammenti-hourglass-img
{
  max-width: 50%;
  max-height: 50%;
}

.three-columns-container
{
  display: flex;
  flex-direction: row;
}

#four-articles-in-a-square
{
  display: flex;
}

.pfp
{
  max-width: 20%;
  max-height: 20%;
}

.editoriali-commenti-comment
{
  display: flex;
  flex-direction: row;
}

.secondary-section-title-container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#blog-e-rubriche-cartoon-section
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.three-columns-column
{
  display: flex;
  flex-direction: column;
  flex-basis: 33%;
}

.flex-row-container
{
  display: flex;
  flex-direction: row;
}

.flex-column-container
{
  display: flex;
  flex-direction: column;
}

.half-container
{
  display: flex;
  flex-basis: 50%;
}

#i-blog-del-corriere
{
  display: flex;
  flex-direction: column;
}

#i-blog-del-corriere-title
{
  display: flex;
  justify-content: center;
}
